.popup__info-tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px 30px;
}

.popup__info-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.popup__info-message {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #000;
  margin: 0;
}
